In [1]:
import pandas as pd

elevation = pd.read_csv(r"D:\S3\data_mining\projet\donnees_elevation_coordonnees.csv")
elevation.head()

   elevation   latitude  longitude
0          0  37.539444   8.939444
1          1  37.539444   8.943611
2          0  37.539444   8.947778
3          0  37.535278   8.935278
4          0  37.535278   8.939444

In [3]:
import pandas as pd
import rasterio
from rasterio.transform import rowcol
import numpy as np
import glob
import os


tif_folder = r"D:\S3\data_mining\projet\clipped_imputed_data2\\" 
tif_files = sorted(glob.glob(tif_folder + "*_imputed_local.tif"))

# **UPDATE THIS PATH** to the location of your Elevation data CSV
elevation_file = r"D:\S3\data_mining\projet\donnees_elevation_coordonnees.csv" 


#elevation_df = pd.read_csv(elevation_file)


with rasterio.open(tif_files[0]) as src:
    transform = src.transform


rows, cols = rowcol(transform, elevation['longitude'], elevation['latitude'])
elevation['row'] = rows
elevation['col'] = cols


elevation_df_final = elevation[['row', 'col', 'elevation']].drop_duplicates(subset=['row', 'col'])

final_combined_df = pd.read_csv(r"D:\S3\data_mining\projet\final_climate_fire_soil_7km.csv")

final_complete_df = final_combined_df.merge(
    elevation_df_final,
    on=['row', 'col'],
    how='left'
)


print(f"Final Complete DataFrame size: {len(final_complete_df)}")
print(f"Number of land pixels with missing elevation data: {final_complete_df['elevation'].isna().sum()}")

final_complete_df.to_csv(r"D:\S3\rapport data_mining\newdata\final_complete_dataset.csv", index=False)

final_complete_df.head()

Final Complete DataFrame size: 65660
Number of land pixels with missing elevation data: 7493

,longitude,latitude,prec_jan,prec_feb,prec_mar,prec_apr,prec_may,prec_jun,prec_jul,prec_aug,...,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND,elevation
0,3.436290,37.301724,76.186775,150.25905,33.161297,30.770489,18.069036,12.214680,0.669839,5.152906,...,52.0,30.0,30.0,97.0,0.0,3.0,8.0,0.3,1.0,NaN
1,3.499490,37.301724,76.784424,149.66905,33.240920,30.732008,18.085820,12.146191,0.625306,5.149389,...,52.0,30.0,30.0,97.0,0.0,3.0,8.0,0.3,1.0,NaN
2,3.562691,37.301724,78.065575,150.86105,33.845560,31.252170,18.496216,12.244916,0.584232,5.281996,...,52.0,30.0,30.0,97.0,0.0,3.0,8.0,0.3,1.0,NaN
3,3.625892,37.301724,80.098495,153.96217,34.947132,32.472347,19.301392,12.625588,0.536992,5.526338,...,52.0,30.0,30.0,97.0,0.0,3.0,8.0,0.3,1.0,NaN
4,3.689093,37.301724,80.877760,154.38214,35.186985,32.727364,19.399984,12.667301,0.500967,5.621139,...,52.0,30.0,30.0,97.0,0.0,3.0,8.0,0.3,1.0,NaN

In [13]:
import pandas as pd
df = pd.read_csv(r"D:\S3\rapport data_mining\newdata\climate_fire_soil_seasonal.csv")
df.head()

,longitude,latitude,prec_jan,prec_feb,prec_mar,prec_apr,prec_may,prec_jun,prec_jul,prec_aug,...,tmin_spring_transition,tmin_autumn_transition,tmax_hot_dry,tmax_cool_wet,tmax_spring_transition,tmax_autumn_transition,prec_hot_dry,prec_cool_wet,prec_spring_transition,prec_autumn_transition
0,3.436290,37.301724,76.186775,150.25905,33.161297,30.770489,18.069036,12.214680,0.669839,5.152906,...,12.258601,16.144623,31.166667,17.091934,22.455912,26.008601,6.012475,108.641995,27.333607,60.162200
1,3.499490,37.301724,76.784424,149.66905,33.240920,30.732008,18.085820,12.146191,0.625306,5.149389,...,12.298526,16.180386,31.221543,17.104422,22.417686,26.021088,5.973629,108.859688,27.352916,60.652806
2,3.562691,37.301724,78.065575,150.86105,33.845560,31.252170,18.496216,12.244916,0.584232,5.281996,...,12.270515,16.161156,31.239233,16.993979,22.233467,25.910645,6.037048,110.103454,27.864649,61.536692
3,3.625892,37.301724,80.098495,153.96217,34.947132,32.472347,19.301392,12.625588,0.536992,5.526338,...,12.166488,16.062366,31.124196,16.728140,21.936385,25.644272,6.229639,112.425985,28.906957,62.975625
4,3.689093,37.301724,80.877760,154.38214,35.186985,32.727364,19.399984,12.667301,0.500967,5.621139,...,12.153848,16.052886,31.067316,16.655460,21.857384,25.533671,6.263136,112.938860,29.104778,63.315012

In [5]:
df = pd.read_csv(r"D:\S3\rapport data_mining\newdata\final_complete_dataset.csv")

In [19]:
print(df.shape)

(58167, 41)

In [16]:
df = df.drop(columns=['prec_jan', 'prec_feb', 'prec_mar', 'prec_apr',
       'prec_may', 'prec_jun', 'prec_jul', 'prec_aug', 'prec_sep', 'prec_oct',
       'prec_nov', 'prec_dec', 'tmax_jan', 'tmax_feb', 'tmax_mar', 'tmax_apr',
       'tmax_may', 'tmax_jun', 'tmax_jul', 'tmax_aug', 'tmax_sep', 'tmax_oct',
       'tmax_nov', 'tmax_dec', 'tmin_jan', 'tmin_feb', 'tmin_mar', 'tmin_apr',
       'tmin_may', 'tmin_jun', 'tmin_jul', 'tmin_aug', 'tmin_sep', 'tmin_oct',
       'tmin_nov', 'tmin_dec'])

In [18]:
df = df.dropna()  # Removes rows that have at least one NaN

In [21]:
df.to_csv(r"D:\S3\rapport data_mining\newdata\data.csv", index=False)

In [23]:
print((df['is_fire'] == 0).sum())

54591

In [15]:
df.columns

Index(['longitude', 'latitude', 'prec_jan', 'prec_feb', 'prec_mar', 'prec_apr',
       'prec_may', 'prec_jun', 'prec_jul', 'prec_aug', 'prec_sep', 'prec_oct',
       'prec_nov', 'prec_dec', 'tmax_jan', 'tmax_feb', 'tmax_mar', 'tmax_apr',
       'tmax_may', 'tmax_jun', 'tmax_jul', 'tmax_aug', 'tmax_sep', 'tmax_oct',
       'tmax_nov', 'tmax_dec', 'tmin_jan', 'tmin_feb', 'tmin_mar', 'tmin_apr',
       'tmin_may', 'tmin_jun', 'tmin_jul', 'tmin_aug', 'tmin_sep', 'tmin_oct',
       'tmin_nov', 'tmin_dec', 'is_fire', 'row', 'col', 'HWSD2_SMU_ID',
       'COARSE', 'SAND', 'SILT', 'CLAY', 'TEXTURE_USDA', 'TEXTURE_SOTER',
       'BULK', 'REF_BULK', 'ORG_CARBON', 'PH_WATER', 'TOTAL_N', 'CN_RATIO',
       'CEC_SOIL', 'CEC_CLAY', 'CEC_EFF', 'TEB', 'BSAT', 'ALUM_SAT', 'ESP',
       'TCARBON_EQ', 'GYPSUM', 'ELEC_COND', 'elevation', 'tmin_hot_dry',
       'tmin_cool_wet', 'tmin_spring_transition', 'tmin_autumn_transition',
       'tmax_hot_dry', 'tmax_cool_wet', 'tmax_spring_transition',
       'tmax_autumn_transition', 'prec_hot_dry', 'prec_cool_wet',
       'prec_spring_transition', 'prec_autumn_transition'],
      dtype='object')

In [12]:
import pandas as pd
import numpy as np

# Load your data
df = pd.read_csv(r"D:\S3\rapport data_mining\newdata\final_complete_dataset.csv")

# ============================================================================
# METHOD 1: CREATE SEASONAL AVERAGES (RECOMMENDED)
# ============================================================================

def create_seasonal_features(df):
    """
    Group monthly climate data into seasonal averages.
    
    Seasons:
    - Winter: Dec, Jan, Feb
    - Spring: Mar, Apr, May
    - Summer: Jun, Jul, Aug
    - Autumn: Sep, Oct, Nov
    """
    
    # Define month groupings for each season
    seasons = {
        'winter': ['jan', 'feb', 'dec'],
        'spring': ['mar', 'apr', 'may'],
        'summer': ['jun', 'jul', 'aug'],
        'autumn': ['sep', 'oct', 'nov']
    }
    
    # For each climate variable (tmin, tmax, prec)
    for var_type in ['tmin', 'tmax', 'prec']:
        
        for season_name, months in seasons.items():
            # Get columns for this variable and season
            season_cols = [f"{var_type}_{month}" for month in months 
                          if f"{var_type}_{month}" in df.columns]
            
            if season_cols:
                # Calculate seasonal average
                df[f"{var_type}_{season_name}"] = df[season_cols].mean(axis=1)
                
                print(f"✅ Created {var_type}_{season_name} from {len(season_cols)} months")
    
    return df


# Apply seasonal grouping
df_seasonal = create_seasonal_features(df.copy())

# Save with seasonal features
df_seasonal.to_csv(r"D:\S3\rapport data_mining\newdata\climate_fire_soil_seasonal.csv", index=False)
print("\n✅ Seasonal features added!")

# ============================================================================
# METHOD 2: DROP MONTHLY AND KEEP ONLY SEASONAL (CLEANER)
# ============================================================================

def replace_monthly_with_seasonal(df):
    """
    Replace monthly data with seasonal averages (reduces features).
    """
    
    # Create seasonal features
    df = create_seasonal_features(df)
    
    # Drop all monthly columns
    monthly_cols = [col for col in df.columns 
                   if any(month in col for month in 
                         ['jan', 'feb', 'mar', 'apr', 'may', 'jun',
                          'jul', 'aug', 'sep', 'oct', 'nov', 'dec'])]
    
    df_clean = df.drop(columns=monthly_cols)
    
    print(f"\n✅ Removed {len(monthly_cols)} monthly columns")
    print(f"✅ Kept seasonal columns only")
    
    return df_clean


df_seasonal_only = replace_monthly_with_seasonal(df.copy())
df_seasonal_only.to_csv(r"D:\S3\rapport data_mining\newdata\climate_fire_soil_seasonal.csv", index=False)

# ============================================================================
# METHOD 3: CUSTOM SEASON DEFINITIONS (NORTH AFRICA)
# ============================================================================

def create_custom_seasonal_features(df):
    """
    Create seasonal features with custom definitions for North Africa climate.
    
    North Africa seasons:
    - Hot Dry Season: Jun, Jul, Aug (summer)
    - Cool Wet Season: Dec, Jan, Feb (winter)
    - Transition Spring: Mar, Apr, May
    - Transition Autumn: Sep, Oct, Nov
    """
    
    custom_seasons = {
        'hot_dry': ['jun', 'jul', 'aug'],
        'cool_wet': ['dec', 'jan', 'feb'],
        'spring_transition': ['mar', 'apr', 'may'],
        'autumn_transition': ['sep', 'oct', 'nov']
    }
    
    for var_type in ['tmin', 'tmax', 'prec']:
        for season_name, months in custom_seasons.items():
            season_cols = [f"{var_type}_{month}" for month in months 
                          if f"{var_type}_{month}" in df.columns]
            
            if season_cols:
                df[f"{var_type}_{season_name}"] = df[season_cols].mean(axis=1)
                print(f"✅ Created {var_type}_{season_name}")
    
    return df

df_custom = create_custom_seasonal_features(df.copy())
df_custom.to_csv(r"D:\S3\rapport data_mining\newdata\climate_fire_soil_seasonal.csv", index=False)

# ============================================================================
# COMPARISON & ANALYSIS
# ============================================================================

print("\n" + "="*70)
print("COMPARISON: MONTHLY vs SEASONAL")
print("="*70)

# Count features
monthly_count = len([c for c in df.columns if any(m in c for m in 
                    ['jan', 'feb', 'mar', 'apr', 'may', 'jun',
                     'jul', 'aug', 'sep', 'oct', 'nov', 'dec'])])

seasonal_count = len([c for c in df_seasonal.columns if any(s in c for s in 
                     ['winter', 'spring', 'summer', 'autumn'])])

seasonal_only_count = len([c for c in df_seasonal_only.columns if any(s in c for s in 
                          ['winter', 'spring', 'summer', 'autumn'])])

print(f"\nOriginal dataset:")
print(f"  Monthly features: {monthly_count}")
print(f"  Total columns: {len(df.columns)}")

print(f"\nWith seasonal added (METHOD 1):")
print(f"  Monthly features: {monthly_count}")
print(f"  Seasonal features: {seasonal_count}")
print(f"  Total columns: {len(df_seasonal.columns)}")

print(f"\nSeasonal only (METHOD 2):")
print(f"  Seasonal features: {seasonal_only_count}")
print(f"  Total columns: {len(df_seasonal_only.columns)}")
print(f"  Reduction: {len(df.columns) - len(df_seasonal_only.columns)} columns")

# Show new column names
print(f"\n📋 New Seasonal Columns Created:")
seasonal_cols = [c for c in df_seasonal.columns if any(s in c for s in 
                ['winter', 'spring', 'summer', 'autumn'])]
for col in sorted(seasonal_cols):
    print(f"  - {col}")


## **📊 Output Files:**
"""
1. **`climate_fire_soil_seasonal.csv`** - Original + seasonal (both monthly & seasonal)
2. **`climate_fire_soil_seasonal_only.csv`** - Only seasonal (monthly removed)
3. **`climate_fire_soil_custom_seasons.csv`** - Custom North Africa seasons

## **🌡️ What Gets Created:**

### **Standard Seasons:**
```
tmin_winter, tmin_spring, tmin_summer, tmin_autumn
tmax_winter, tmax_spring, tmax_summer, tmax_autumn
prec_winter, prec_spring, prec_summer, prec_autumn"""

✅ Created tmin_winter from 3 months
✅ Created tmin_spring from 3 months
✅ Created tmin_summer from 3 months
✅ Created tmin_autumn from 3 months
✅ Created tmax_winter from 3 months
✅ Created tmax_spring from 3 months
✅ Created tmax_summer from 3 months
✅ Created tmax_autumn from 3 months
✅ Created prec_winter from 3 months
✅ Created prec_spring from 3 months
✅ Created prec_summer from 3 months
✅ Created prec_autumn from 3 months

✅ Seasonal features added!
✅ Created tmin_winter from 3 months
✅ Created tmin_spring from 3 months
✅ Created tmin_summer from 3 months
✅ Created tmin_autumn from 3 months
✅ Created tmax_winter from 3 months
✅ Created tmax_spring from 3 months
✅ Created tmax_summer from 3 months
✅ Created tmax_autumn from 3 months
✅ Created prec_winter from 3 months
✅ Created prec_spring from 3 months
✅ Created prec_summer from 3 months
✅ Created prec_autumn from 3 months

✅ Removed 36 monthly columns
✅ Kept seasonal columns only
✅ Created tmin_hot_dry
✅ Created tmin_cool_wet
✅ Created tmin_spring_transition
✅ Created tmin_autumn_transition
✅ Created tmax_hot_dry
✅ Created tmax_cool_wet
✅ Created tmax_spring_transition
✅ Created tmax_autumn_transition
✅ Created prec_hot_dry
✅ Created prec_cool_wet
✅ Created prec_spring_transition
✅ Created prec_autumn_transition

======================================================================
COMPARISON: MONTHLY vs SEASONAL
======================================================================

Original dataset:
  Monthly features: 36
  Total columns: 65

With seasonal added (METHOD 1):
  Monthly features: 36
  Seasonal features: 12
  Total columns: 77

Seasonal only (METHOD 2):
  Seasonal features: 12
  Total columns: 41
  Reduction: 24 columns

📋 New Seasonal Columns Created:
  - prec_autumn
  - prec_spring
  - prec_summer
  - prec_winter
  - tmax_autumn
  - tmax_spring
  - tmax_summer
  - tmax_winter
  - tmin_autumn
  - tmin_spring
  - tmin_summer
  - tmin_winter

'\n1. **`climate_fire_soil_seasonal.csv`** - Original + seasonal (both monthly & seasonal)\n2. **`climate_fire_soil_seasonal_only.csv`** - Only seasonal (monthly removed)\n3. **`climate_fire_soil_custom_seasons.csv`** - Custom North Africa seasons\n\n## **🌡️ What Gets Created:**\n\n### **Standard Seasons:**\n```\ntmin_winter, tmin_spring, tmin_summer, tmin_autumn\ntmax_winter, tmax_spring, tmax_summer, tmax_autumn\nprec_winter, prec_spring, prec_summer, prec_autumn'

In [ ]:
import pandas as pd
import numpy as np

tmin_columns = ['tmin_2024_1', 'tmin_2024_2', 'tmin_2024_3', 'tmin_2024_4', 
               'tmin_2024_5', 'tmin_2024_6', 'tmin_2024_7', 'tmin_2024_8', 
               'tmin_2024_9', 'tmin_2024_10', 'tmin_2024_11', 'tmin_2024_12']

df['tmin_mean'] = df[tmin_columns].mean(axis=1)
df['tmin_std'] = df[tmin_columns].std(axis=1)
df['tmin_median'] = df[tmin_columns].median(axis=1)

df = df.drop(columns=tmin_columns)

In [4]:
df.columns

Index(['row', 'col', 'longitude', 'latitude', 'is_fire', 'HWSD2_SMU_ID',
       'COARSE', 'SAND', 'SILT', 'CLAY', 'TEXTURE_USDA', 'TEXTURE_SOTER',
       'BULK', 'REF_BULK', 'ORG_CARBON', 'PH_WATER', 'TOTAL_N', 'CN_RATIO',
       'CEC_SOIL', 'CEC_CLAY', 'CEC_EFF', 'TEB', 'BSAT', 'ALUM_SAT', 'ESP',
       'TCARBON_EQ', 'GYPSUM', 'ELEC_COND', 'elevation', 'tmin_mean',
       'tmin_std', 'tmin_median'],
      dtype='object')

In [5]:
df.to_csv(r"D:\S3\data_mining\projet\final_complete_dataset.csv", index=False)

In [1]:
import pandas as pd

df = pd.read_csv(r"D:\S3\data_mining\viirs-jpss1_2024_Algeria.csv")

In [ ]:
print(df['type'])

0        2
1        2
2        2
3        2
4        2
        ..
87441    0
87442    2
87443    2
87444    2
87445    2
Name: type, Length: 87446, dtype: int64

In [12]:
df = pd.read_csv(r"D:\S3\data_mining\projet\final_complete_dataset.csv")

In [13]:
df.columns

Index(['row', 'col', 'longitude', 'latitude', 'is_fire', 'HWSD2_SMU_ID',
       'COARSE', 'SAND', 'SILT', 'CLAY', 'TEXTURE_USDA', 'TEXTURE_SOTER',
       'BULK', 'REF_BULK', 'ORG_CARBON', 'PH_WATER', 'TOTAL_N', 'CN_RATIO',
       'CEC_SOIL', 'CEC_CLAY', 'CEC_EFF', 'TEB', 'BSAT', 'ALUM_SAT', 'ESP',
       'TCARBON_EQ', 'GYPSUM', 'ELEC_COND', 'elevation', 'tmin_mean',
       'tmin_std', 'tmin_median'],
      dtype='object')

In [2]:
import rasterio
import pandas as pd
from rasterio.transform import rowcol
import numpy as np
import glob

# --- 1. DEFINE FILE PATHS ---
climate_fire_file = r"D:\S3\data_mining\projet\final_climate_fire_soil_data.csv"
soil_file = r"D:\S3\data_mining\projet\donnees_elevation_coordonnees.csv" 
tif_folder = r"D:\S3\data_mining\projet\clipped_imputed_data2\\" 
tif_files = sorted(glob.glob(tif_folder + "*_imputed_local.tif"))

# --- 2. LOAD DATA ---
climate_fire_df = pd.read_csv(climate_fire_file)
soil_df = pd.read_csv(soil_file)

# Get the Transformation matrix from the first climate TIF file
with rasterio.open(tif_files[0]) as src:
    transform = src.transform

# --- 3. ADD ROW AND COL TO CLIMATE_FIRE_DF ---
# Calculate 'row' and 'col' for the climate_fire data using the TIF transform
print("Adding row and col to climate_fire data...")
rows, cols = rowcol(transform, climate_fire_df['longitude'], climate_fire_df['latitude'])
climate_fire_df['row'] = rows
climate_fire_df['col'] = cols

# --- 4. MAP SOIL COORDINATES TO GRID INDICES ---
# Calculate 'row' and 'col' for the soil data using the TIF transform
print("Adding row and col to soil data...")
rows, cols = rowcol(transform, soil_df['longitude'], soil_df['latitude'])
soil_df['row'] = rows
soil_df['col'] = cols

# --- 5. PREPARE SOIL DATA FOR MERGE ---
# Keep all soil property columns and drop the redundant float coordinates
soil_cols_to_keep = [
    col for col in soil_df.columns 
    if col not in ['longitude', 'latitude']
]
# Ensure we only have unique grid cells for merging
soil_df_final = soil_df[soil_cols_to_keep].drop_duplicates(subset=['row', 'col'])

print(f"Climate fire data shape: {climate_fire_df.shape}")
print(f"Soil data shape: {soil_df_final.shape}")
print(f"Climate fire unique grid cells: {climate_fire_df[['row', 'col']].drop_duplicates().shape[0]}")
print(f"Soil unique grid cells: {soil_df_final[['row', 'col']].drop_duplicates().shape[0]}")

# --- 6. PERFORM THE FINAL MERGE ---
# Use a LEFT JOIN to keep all rows in the climate_fire_df
final_combined_df = climate_fire_df.merge(
    soil_df_final,
    on=['row', 'col'],
    how='left'
)

# --- 7. CLEANUP AND SAVE ---
print(f"Final Combined DataFrame size: {len(final_combined_df)}")
print(f"Number of pixels with missing soil data: {final_combined_df['HWSD2_SMU_ID'].isna().sum()}")

# Check which columns have missing data
missing_data = final_combined_df.isnull().sum()
print("\nMissing data per column:")
print(missing_data[missing_data > 0])

# Save the final, complete dataset
final_combined_df.to_csv(r"D:\S3\data_mining\projet\final_climate_fire_soil_elevation_data.csv", index=False)
print("Final dataset saved successfully!")

Adding row and col to climate_fire data...
Adding row and col to soil data...
Climate fire data shape: (698106, 64)
Soil data shape: (33511, 3)
Climate fire unique grid cells: 33396
Soil unique grid cells: 33511
Final Combined DataFrame size: 698106
Number of pixels with missing soil data: 1532

Missing data per column:
HWSD2_SMU_ID       1532
COARSE             1532
SAND               1532
SILT               1532
CLAY               1532
TEXTURE_USDA     168565
TEXTURE_SOTER      1532
BULK               1532
REF_BULK           1532
ORG_CARBON         1532
PH_WATER           1532
TOTAL_N            1532
CN_RATIO           1532
CEC_SOIL           1532
CEC_CLAY           1532
CEC_EFF            1532
TEB                1532
BSAT               1532
ALUM_SAT           1532
ESP                1532
TCARBON_EQ         1532
GYPSUM             1532
ELEC_COND          1532
elevation          1404
dtype: int64
Final dataset saved successfully!

In [3]:
final_combined_df = final_combined_df.dropna()

In [4]:
final_combined_df.isnull().sum()

longitude     0
latitude      0
tmin_jan      0
tmin_feb      0
tmin_mar      0
             ..
ESP           0
TCARBON_EQ    0
GYPSUM        0
ELEC_COND     0
elevation     0
Length: 65, dtype: int64

In [5]:
final_combined_df.to_csv(r"D:\S3\data_mining\projet\final_climate_fire_soil_elevation_data1.csv", index=False)

In [6]:
(final_combined_df['is_fire'] == 1).sum()

np.int64(5472)